body {
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    
  }
  ul.nav {
      display: inline-flex;
  }
  .row{
      margin: auto;
  }
  
  .product-row{
      display: inline-flex;
  }
  .cursor-pointer{
  cursor: pointer;    
  }
  .border{
      border:1px solid #ccc;
  }
  .header-content{
      color: white;
      background-color: teal;
  }
  .red{
      color:red;
  }